.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 11.5px 15px;
	font-family: 'GothamPro', sans-serif;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.02em;
	color: $white;
	text-transform: uppercase;
	background-color: $green;
	border: 1px solid $green;

	&:hover,
	&:focus {
		color: $white;
		text-decoration: none;
		background-color: $green-dark;
		border-color: $green-dark;
	}

	&--white {
		background-color: transparent;
		border-color: $white;

		&:hover,
		&:focus {
			background-color: rgba($white, 0.3);
			border-color: $white;
		}
	}

	&--black {
		background-color: transparent;
		border-color: $dark-18;
		color: $dark-18;

		&:hover,
		&:focus {
			background-color: rgba($dark-18, 0.02);
			border-color: $dark-18;
			color: $dark-18;
		}
	}
}