.design {
	padding-top: 131px;

	&__plans {
		display: flex;
		margin: 69px -10px 0;
	}

	&__plans-item {
		width: calc(50% - 20px);
		margin: 0 10px;
	}

	&__plans-item-image {
		height: 611px;
		border: 1px solid $green;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__floor {
		font-size: 17px;
		text-align: center;
		margin-top: 21px;
	}

	&__btn {
		width: 167px;
		margin: 28px auto 0;
	}
}