extends templates/default

block vars
	-
		const page = {
			title: 'index.html'
		};




block main
	include blocks/menu
	include blocks/breadcrumbs

	// Main
	.sect_project_single
		.container
			.top_links
				a.bord_button.cat_link.bord_button_arrow_l(href='https://inwood.ru/project') каталог проектов
				a.bord_button.prev_link.bord_button_arrow_l(href='https://inwood.ru/project/inw-046') пред. проект
				.mobile_title
					.title-top
						| Проект
						strong INW-045
					.price
						span.old
							| 2 134 000
							i.fa.fa-rub
						span.new
							span от
							|  1 940 000
							i.fa.fa-rub
					.akciya-de
						| Акция действует до:
						span  25 марта 2021 г.
				a.bord_button.next_link.bord_button_arrow(href='https://inwood.ru/project/inw-044') сл. проект
				.clear
		.container
			.project_single_wrap
				.img_wrap
					.slider-for
						.item
							img(alt='' src='https://inwood.ru/wp-content/themes/bwstheme/timthumb.php?src=https://inwood.ru/wp-content/uploads/2020/01/v1-6.jpg&w=896&zc=1')
						.item
							img(alt='' src='https://inwood.ru/wp-content/themes/bwstheme/timthumb.php?src=https://inwood.ru/wp-content/uploads/2020/01/v2-6.jpg&w=896&zc=1')
						.item
							img(alt='' src='https://inwood.ru/wp-content/themes/bwstheme/timthumb.php?src=https://inwood.ru/wp-content/uploads/2020/01/p1-7.jpg&w=896&zc=1')
						.item
							img(alt='' src='https://inwood.ru/wp-content/themes/bwstheme/timthumb.php?src=https://inwood.ru/wp-content/uploads/2020/01/p2-5.jpg&w=896&zc=1')
						.item
							img(alt='' src='https://inwood.ru/wp-content/themes/bwstheme/timthumb.php?src=https://inwood.ru/wp-content/uploads/2020/01/f1-6.jpg&w=896&zc=1')
						.item
							img(alt='' src='https://inwood.ru/wp-content/themes/bwstheme/timthumb.php?src=https://inwood.ru/wp-content/uploads/2020/01/f2-6.jpg&w=896&zc=1')
						.item
							img(alt='' src='https://inwood.ru/wp-content/themes/bwstheme/timthumb.php?src=https://inwood.ru/wp-content/uploads/2020/01/f3-5.jpg&w=896&zc=1')
						.item
							img(alt='' src='https://inwood.ru/wp-content/themes/bwstheme/timthumb.php?src=https://inwood.ru/wp-content/uploads/2020/01/f4-5.jpg&w=896&zc=1')
					include blocks/project-card.pug

				section.design.design--pos
					+title('ПЛАНИРОВКА', 'Все изменения в проекте бесплатны')
					.design__plans
						.design__plans-item.design__plans-item--full
							.design__plans-item-image
								img(alt='' src='img/plan/plan-3.png')
								img.mirrored(alt='' src='img/plan/plan-3.png')
						.design__plans-item
							.design__plans-item-image
								img(alt='' src='img/plan/plan-3.png')
								img.mirrored(alt='' src='img/plan/plan-3.png')
						.design__plans-item
							.design__plans-item-image
								img(alt='' src='img/plan/plan-3.png')
								img.mirrored(alt='' src='img/plan/plan-3.png')
					+button('Зеркально', 'button--black design__btn')
				include blocks/design.pug
				include blocks/equipment.pug

				.dop_info_wrap
					.dop-title
						| Внутренние коммуникаций в
						span  подарок
					ul.list
						li.li1
							.ico
								img(alt='' src='https://inwood.ru/wp-content/themes/bwstheme/timthumb.php?src=https://inwood.ru/wp-content/uploads/2018/11/dop_info_ico_01.png&w=150&h=150&zc=1')
							.name Электропроводка
							.desc Lorem ipsum – псевдо <br> латинский текст
						li.li2
							.ico
								img(alt='' src='https://inwood.ru/wp-content/themes/bwstheme/timthumb.php?src=https://inwood.ru/wp-content/uploads/2018/11/dop_info_ico_02.png&w=150&h=150&zc=1')
							.name Водопровод
							.desc Lorem ipsum – псевдо <br> латинский текст
						li.li3
							.ico
								img(alt='' src='https://inwood.ru/wp-content/themes/bwstheme/timthumb.php?src=https://inwood.ru/wp-content/uploads/2018/11/dop_info_ico_03.png&w=150&h=150&zc=1')
							.name Вентиляция
							.desc Lorem ipsum – псевдо <br> латинский текст
						li.li4
							.ico
								img(alt='' src='img/gift.png')
							.name Канализация
							.desc Lorem ipsum – псевдо <br> латинский текст
				.dop_info_wrap.dop_info_wrap2
					.dop-title
						| Внутренняя отделка: от
						span
							|  199 000&nbsp
							i.fa.fa-rub
					ul.list
						li.li5
							.ico
								img(alt='' src='img/gift-2.png')
							.name Стены
							.desc Lorem ipsum – псевдо <br> латинский текст
						li.li6
							.ico
								img(alt='' src='img/gift-3.png')
							.name Потолки
							.desc Lorem ipsum – псевдо <br> латинский текст
						li.li7
							.ico
								img(alt='' src='img/gift-4.png')
							.name Проемы и окна
							.desc Lorem ipsum – псевдо <br> латинский текст
						li.li8
							.ico
								img(alt='' src='img/gift-5.png')
							.name Лестница
							.desc Lorem ipsum – псевдо <br> латинский текст

				include blocks/model.pug
				include blocks/gallery.pug
				include blocks/video.pug
				include blocks/contacts.pug
