section.contacts
	+title('ОСТАЛИСЬ ВОПРОСЫ ?', 'Мы с радостью ответим на все ваши вопросы', 'title--size')
	.sect_contact
		.contact_wrap
			.desc_bl
				.name
					span Центральный
					|  офис компании
				.contact_bl.adres
					.ico
					|  г. Москва,
					br
					|  пр-т Маршала Жукова д.1 стр.1
				.contact_bl.phone
					.ico
					.ph
						a(href='tel:+74956779590') +7 495 677 95 90
					.link
						a.popup_open(href='popup_call') обратный звонок
				.contact_bl.time
					.ico
					| пр.Маршала Жукова 1с1
					br
					| пн-вс:  с 10-00 до 20-00
				.contact_bl.metro
					.ico
					.m МЦК Хорошево | Полежаевская
				.links
					a.fill_button.popup_open.fill_button_letter(href='popup_quest') написать нам
					a.whatsapp(href='https://wa.me/79771825322' target='_blank')
					a.viber(href='viber://add?number=79771825322' target='_blank')
			.map_bl
				#map

