section.design
	+title('ЧЕРТЕЖ ПРОЕКТА', 'Lorem ipsum – псевдо-латинский текст')
	.design__plans
		.design__plans-item
			.design__plans-item-image
				img(alt='' src='img/plan/plan-1.jpg')
				img.mirrored(alt='' src='img/plan/plan-2.jpg')
			.design__floor 1 этаж
		.design__plans-item
			.design__plans-item-image
				img(alt='' src='img/plan/plan-2.jpg')
				img.mirrored(alt='' src='img/plan/plan-1.jpg')
			.design__floor 2 этаж
	+button('Зеркально', 'button--black design__btn')