section.equipment
	+title('КОМПЛЕКТАЦИЯ', 'Lorem ipsum – псевдо-латинский текст')

	.project_tab_wrap
		.project_item
			.mobile_title
				.name
					strong Лайт
					|  комплектация
				.text Решение для сезонного проживания
				.price
					| от:
					span.price-old
						strong
							| 2 134 000
							i.fa.fa-rub
					strong
						| 1 940 000
						i.fa.fa-rub
			.mobile_desc
				.info_wrap
					.info_bl
						.info_name Фундамент
						.info_subtitle Комплектация
						table
							tbody
								tr
									td.name
										span Ж/Б забивные сваи:
										a.mob_link Ж/Б забивные сваи:
									td.desc 150х3000мм
								tr
									td.name
										span Ростверк:
										a.mob_link Ростверк:
									td.desc брус 150×200мм
								tr
									td.name
										span Тип монтажа:
										a.mob_link Тип монтажа:
									td.desc Механизированный
					.info_bl
						.info_name Стеновой комплект
						.info_subtitle Комплектация
						table
							tbody
								tr
									td.name
										span Материал каркаса:
										a.mob_link Материал каркаса:
									td.desc сухая строганная доска
								tr
									td.name
										span Перекрытия:
										a.mob_link Перекрытия:
									td.desc 250мм двутавровый профиль
								tr
									td.name
										span Стены:
										a.mob_link Стены:
									td.desc 200мм
								tr
									td.name
										span Стропильная система
										a.mob_link Стропильная система
									td.desc 200мм
								tr
									td.name
										span Крепеж:
										a.mob_link Крепеж:
									td.desc оцинкованный
								tr
									td.name
										span Огнебиозащита:
										a.mob_link Огнебиозащита:
									td.desc методом вымачивания
					.info_bl
						.info_name Кровля
						.info_subtitle Комплектация
						table
							tbody
								tr
									td.name
										span Металлочерепица:
										a.mob_link Металлочерепица:
									td.desc GrandLine 0,5мм PE
								tr
									td.name
										span Тип кровли:
										a.mob_link Тип кровли:
									td.desc вентилируемый
								tr
									td.name
										span Свесы кровли:
										a.mob_link Свесы кровли:
									td.desc Объемные, подшиты вагонкой
					.info_bl
						.info_name Окна и двери
						.info_subtitle Комплектация
						table
							tbody
								tr
									td.name
										span Окна ПВХ:
										a.mob_link Окна ПВХ:
									td.desc REHAU Grazio 70мм, двойные энергосберегающие стеклопакеты
								tr
									td.name
										span Входная дверь:
										a.mob_link Входная дверь:
									td.desc с терморазрывом, Buldoors Termo1
					.info_bl
						.info_name Тепловой контур
						.info_subtitle Комплектация
						table
							tbody
								tr
									td.name
										span Утеплитель:
										a.mob_link Утеплитель:
									td.desc Базальтовые плиты ROCKWOOL
								tr
									td.name
										span Толщина утепления:
										a.mob_link Толщина утепления:
									td.desc 200мм
								tr
									td.name
										span Гидроизоляция и ветрозащита:
										a.mob_link Гидроизоляция и ветрозащита:
									td.desc супердиффузионные мембраны Ondutis SA115 с проклейкой швов
								tr
									td.name
										span Пароизоляция:
										a.mob_link Пароизоляция:
									td.desc Ondutis D smart с проклейкой швов
					.info_bl
						.info_name Фасад
						.info_subtitle Комплектация
						table
							tbody
								tr
									td.name
										span Материал фасада:
										a.mob_link Материал фасада:
									td.desc   широкая имитация бруса сорт А
								tr
									td.name
										span Тип фасада:
										a.mob_link Тип фасада:
									td.desc вентилируемый
								tr
									td.name
										span Защита от грызунов:
										a.mob_link Защита от грызунов:
									td.desc мелкоячеистая сетка
				a.close_arrow
					span