section.equipment
	+title('КОМПЛЕКТАЦИЯ', 'Lorem ipsum – псевдо-латинский текст')

	.project_tab_wrap
		.project_item
			.mobile_desc
				.info_wrap
					.info_bl
						.info_name Фундамент
						.info_subtitle Комплектация
						table
							tbody
								tr
									td.name
										span Ж/Б забивные сваи:
									td.desc 150х3000мм
								tr
									td.name
										span Ростверк:
									td.desc брус 150×200мм
								tr
									td.name
										span Тип монтажа:
									td.desc Механизированный
					.info_bl
						.info_name Стеновой комплект
						.info_subtitle Комплектация
						table
							tbody
								tr
									td.name
										span Материал каркаса:
									td.desc сухая строганная доска
								tr
									td.name
										span Перекрытия:
									td.desc 250мм двутавровый профиль
								tr
									td.name
										span Стены:
									td.desc 200мм
								tr
									td.name
										span Стропильная система
									td.desc 200мм
								tr
									td.name
										span Крепеж:
									td.desc оцинкованный
								tr
									td.name
										span Огнебиозащита:
									td.desc методом вымачивания
					.info_bl
						.info_name Кровля
						.info_subtitle Комплектация
						table
							tbody
								tr
									td.name
										span Металлочерепица:
									td.desc GrandLine 0,5мм PE
								tr
									td.name
										span Тип кровли:
									td.desc вентилируемый
								tr
									td.name
										span Свесы кровли:
									td.desc Объемные, подшиты вагонкой
					.info_bl
						.info_name Окна и двери
						.info_subtitle Комплектация
						table
							tbody
								tr
									td.name
										span Окна ПВХ:
									td.desc REHAU Grazio 70мм, двойные энергосберегающие стеклопакеты
								tr
									td.name
										span Входная дверь:
									td.desc с терморазрывом, Buldoors Termo1
					.info_bl
						.info_name Тепловой контур
						.info_subtitle Комплектация
						table
							tbody
								tr
									td.name
										span Утеплитель:
									td.desc Базальтовые плиты ROCKWOOL
								tr
									td.name
										span Толщина утепления:
									td.desc 200мм
								tr
									td.name
										span Гидроизоляция и ветрозащита:
									td.desc супердиффузионные мембраны Ondutis SA115 с проклейкой швов
								tr
									td.name
										span Пароизоляция:
									td.desc Ondutis D smart с проклейкой швов
					.info_bl
						.info_name Фасад
						.info_subtitle Комплектация
						table
							tbody
								tr
									td.name
										span Материал фасада:
									td.desc   широкая имитация бруса сорт А
								tr
									td.name
										span Тип фасада:
									td.desc вентилируемый
								tr
									td.name
										span Защита от грызунов:
									td.desc мелкоячеистая сетка
				a.close_arrow
					span