#footer
	.container
		.footer_logo_bl
			a.footer_logo(href='https://inwood.ru') INWOOD
			.footer_desc
				| современные дома
				br
				|  из дерева
		.mob_link
			.consult_link
				a.fill_button.popup_open.fill_button_arrow(href='popup_quest') консультация
		.footer_menu
			ul#menu-navigaciya-2.menu
				li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.menu-item-13
					a(href='https://inwood.ru/') Главная
				li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-16
					a(href='http://inwood.ru/project') Проекты и Цены
				li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-21
					a(href='https://inwood.ru/technology') Технология
				li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-19
					a(href='http://inwood.ru/gallery-cat/eksterery') Фотогалерея
				li.menu-item.menu-item-type-taxonomy.menu-item-object-type.menu-item-1755
					a(href='https://inwood.ru/type/inwood-life') Видео
				li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-15
					a(href='https://inwood.ru/contacts') Контакты
		.footer_contact
			.ph_bl
				.ph
					a(href='tel:+74956779590') +7 495 677 95 90
				.link
					a.popup_open(href='popup_call') обратный звонок
			.consult_link
				a.fill_button.popup_open.fill_button_arrow(href='popup_quest') консультация
			.mail
				a(href='mailto:info@inwood.ru') info@inwood.ru
		.footer_soc
			a.vk(href='https://vk.com/stroyinwood' target='_blank')
			a.fb(href='https://www.youtube.com/channel/UCeiisC7fN1RJSEphhi0kxyw/' target='_blank')
			a.in(href='https://www.instagram.com/inwood.ru/' target='_blank')
		.copy INWOOD© 2012 — 2018
		.create
			.t
				span создание
				|  и продвижение
			.logo
				a(href='https://smartseotech.ru/web-development' target='_blank')
					span
						| умные
						strong seo
					| технологии
