section.gallery
	+title('ФОТОГАЛЕРЕЯ', 'Видеообзоры на на наши проекты')
	.gallery__wrapper
		a.gallery__item(href='img/gallery/gallery-1.jpg', data-fancybox='gallery', rel='simple-gallery')
			img(src='img/gallery/gallery-1-small.jpg', alt='')
		a.gallery__item(href='img/gallery/gallery-2.jpg', data-fancybox='gallery', rel='simple-gallery')
			img(src='img/gallery/gallery-2-small.jpg', alt='')
		a.gallery__item(href='img/gallery/gallery-3.jpg', data-fancybox='gallery', rel='simple-gallery')
			img(src='img/gallery/gallery-3-small.jpg', alt='')
		a.gallery__item(href='img/gallery/gallery-4.jpg', data-fancybox='gallery', rel='simple-gallery')
			img(src='img/gallery/gallery-4-small.jpg', alt='')
		a.gallery__item(href='img/gallery/gallery-3.jpg', data-fancybox='gallery', rel='simple-gallery')
			img(src='img/gallery/gallery-3-small.jpg', alt='')
		a.gallery__item(href='img/gallery/gallery-1.jpg', data-fancybox='gallery', rel='simple-gallery')
			img(src='img/gallery/gallery-1-small.jpg', alt='')
		a.gallery__item(href='img/gallery/gallery-4.jpg', data-fancybox='gallery', rel='simple-gallery')
			img(src='img/gallery/gallery-4-small.jpg', alt='')
		a.gallery__item(href='img/gallery/gallery-2.jpg', data-fancybox='gallery', rel='simple-gallery')
			img(src='img/gallery/gallery-2-small.jpg', alt='')
