.main_menu_wrap
	.container
		.row
			.col-lg-12
				.main_menu
					a.mob_menu
						span
					ul#menu-navigaciya-1.menu
						li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-home.menu-item-13
							a(href='https://inwood.ru/') Главная
						li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-16
							a(href='http://inwood.ru/project') Проекты и Цены
						li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-21
							a(href='https://inwood.ru/technology') Технология
						li.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-19
							a(href='http://inwood.ru/gallery-cat/eksterery') Фотогалерея
						li.menu-item.menu-item-type-taxonomy.menu-item-object-type.menu-item-1755
							a(href='https://inwood.ru/type/inwood-life') Видео блог
						li.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-15
							a(href='https://inwood.ru/contacts') Контакты
					.clear
