section.plan
	+title('ЧЕРТЕЖ ПРОЕКТА', 'Lorem ipsum – псевдо-латинский текст')
	.plan__plans
		.plan__plans-item
			.plan__plans-item-image
				img(alt='' src='img/plan/plan-1.jpg')
				img.mirrored(alt='' src='img/plan/plan-2.jpg')
			.plan__floor 1 этаж
		.plan__plans-item
			.plan__plans-item-image
				img(alt='' src='img/plan/plan-2.jpg')
				img.mirrored(alt='' src='img/plan/plan-1.jpg')
			.plan__floor 2 этаж
	+button('Зеркально', 'button--black plan__btn')