section.video
	+title('ВИДЕООБЗОРЫ', 'Видеообзоры на на наши проекты', 'title--size')
	.video__wrapper
		.video__item-wrapper-one
			.video__item
				a.video__item-preview(href='https://www.youtube.com/watch?v=tEPB7uzKuh4', data-fancybox='video')
					img(src='img/video-1.jpg', alt='')
				.video__item-caption Такой текст также называется заполнитель
		.video__item
			a.video__item-preview(href='https://www.youtube.com/watch?v=tEPB7uzKuh4', data-fancybox='video')
				img(src='img/video-1.jpg', alt='')
			.video__item-caption Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна,
		.video__item
			a.video__item-preview(href='https://www.youtube.com/watch?v=tEPB7uzKuh4', data-fancybox='video')
				img(src='img/video-1.jpg', alt='')
			.video__item-caption Такой текст также называется заполнитель
		.video__item
			a.video__item-preview(href='https://www.youtube.com/watch?v=tEPB7uzKuh4', data-fancybox='video')
				img(src='img/video-1.jpg', alt='')
			.video__item-caption Это очень удобный инструмент для <br> моделей (макетов)