section.video
	+title('ВИДЕООБЗОРЫ', 'Видеообзоры на на наши проекты')
	.video__wrapper
		a.video__item(href='https://www.youtube.com/watch?v=tEPB7uzKuh4', data-fancybox='video')
			img(src='img/video-1.jpg', alt='')
		a.video__item(href='https://www.youtube.com/watch?v=tEPB7uzKuh4', data-fancybox='video')
			img(src='img/video-1.jpg', alt='')
		a.video__item(href='https://www.youtube.com/watch?v=tEPB7uzKuh4', data-fancybox='video')
			img(src='img/video-1.jpg', alt='')